<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
    <title>Login</title>
</head>
<body>
    <h1 class="box" id="one">Login</h1>
    
    <div class="button-container">
        <a href="{{url_for('teacherlogin')}}" class="btn">Teachers</a>
        <a href="{{url_for('student_dashboard')}}" class="btn">Students</a>
    </div>
</body>
</html>
