<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/student_dashboard.css">
    <title>Student Dashborad</title>
</head>
<body>
    <div class="box">
        <h1>Dashboard</h1>
    </div>
    <p>Hi👋, welcome to Student dashboard</p><br><br><br><br>
    <form method="POST" action="">
        <div class="button-container">
            <a href="{{url_for('find_student_recommendation1')}}" class="btn">Find Student Recommendation</a>
        </div>
    </form>
</body>
</html>